################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoNgoaiChinhHang/DoNgoaiChinhHang/wwwroot/ProductsImages/1
