
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Dashboard</h4>
        </div>
    </div>
    <!-- 4-blocks row start -->
    <div class="row dashboard-header">
        <div class="col-lg-3 col-md-6">
            <div class="card dashboard-product">
                <span>Tổng số sản phẩm</span>
                <h2 class="dashboard-total-products">@ViewBag.CountPro</h2>
                <span class="label label-primary">Views</span>View Today
                <div class="side-box">
                    <i class="ti-signal text-warning-color"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card dashboard-product">
                <span>Tổng số đơn hàng</span>
                <h2 class="dashboard-total-products">@ViewBag.CountOd</h2>
                <span class="label label-primary">Views</span>View Today
                <div class="side-box ">
                    <i class="ti-gift text-primary-color"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card dashboard-product">
                <span>Tổng doanh thu</span>
                <h2 class="dashboard-total-products">$<span>@ViewBag.doanhthu</span></h2>
                <span class="label label-success">Sales</span>Reviews
                <div class="side-box">
                    <i class="ti-direction-alt text-success-color"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div id="sfccwwqa3lddmeq9xccxlzr7kp5ndapcf22"></div>
            <script type="text/javascript" src="https://counter10.stat.ovh/private/counter.js?c=cwwqa3lddmeq9xccxlzr7kp5ndapcf22&down=async" async></script>
            <noscript><a href="https://www.freecounterstat.com" title="hit counter html"><img src="https://counter10.stat.ovh/private/freecounterstat.php?c=cwwqa3lddmeq9xccxlzr7kp5ndapcf22" border="0" title="hit counter html" alt="hit counter html"></a></noscript>

        </div>
    </div>
    <!-- 4-blocks row end -->

</div>

