.cus-tb {
    width:90%;
    padding: 20px;
    margin: 20px auto;
}

.cus-tb tr {
    padding: 15px;
    margin: 15px
}

.cus-tb td {
    padding: 6px 6px 6px 20px;
    font-weight: 700;
}


.cus-tb span {
    font-weight: 400;
}

.dssp{
    margin:10px
}


