

.text-danger {
    color: #d9534f !important;
    font-size: 10pt;
    margin-left: 12px;
    background-color: cornsilk;
}

.form-group {
    margin-bottom: 5px;
}

    .form-group row row {
        margin-bottom: 20px
    }

.btn{
    text-transform:none;
}
input[type="file"] {
    display: none;
}

.imageThumb {
    max-height: 200px;
    max-width: 200px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: white;
    color: black;
}

.field {
    background-color: #ffffff;
    width: 60%;
    min-width: 450px;
    position: relative;
    margin: 50px auto;
    padding: 50px 20px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.5);
}

#label_ {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    .btn-inverse-warning

{
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    top: 0;
    line-height: 1.3
}